body {
    font-family: Arial, sans-serif;
}
 
header {
    font-weight: bold;
}
 
#unblockForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
 
#result {
    display: none;
    text-align: center;
}
 
#unblockedUrl {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
